body{
    background-color: #5cc5f2;
    margin: 0px;
    padding: 0px;
}
header{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 210px;
    background: url(imgs/nubes_mario.png) repeat-x;
    z-index: -1;
    animation: slideNubes 60s linear infinite;
}
#kirby{
    margin-top: 50px;
    width: 200px;
    height: 140px;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1013a74a-d6aa-48ea-967a-164457c826b9/devnwkg-2aa93e18-8246-4cd0-b6f7-4a1e94da9a53.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEwMTNhNzRhLWQ2YWEtNDhlYS05NjdhLTE2NDQ1N2M4MjZiOVwvZGV2bndrZy0yYWE5M2UxOC04MjQ2LTRjZDAtYjZmNy00YTFlOTRkYTlhNTMuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.lQNNdmYuNQ2-kJVej0ywnK2Lv7c9zu-0B2XnT_wIlA8);
    z-index: -5;
    background-size: cover;
    animation: kirbyAnim 3s linear infinite;
  }
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background: url(imgs/suelo.jpg) repeat-x;
    z-index: 1;
    animation: slideSuelo 100s linear infinite;
}

.browser{
  display: flex;
}

.boletClass{
  display: flex;
  position: fixed;
  bottom: 10px;
  right: 50px;
  height: 100px;
  width: 100%;
  justify-content: end;
  margin-bottom: 20px;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5ad96c59-af77-44ac-b005-e438e6f11b40/dfgdn13-45194a38-7fde-4c8e-bd7a-84f8cd3b0185.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVhZDk2YzU5LWFmNzctNDRhYy1iMDA1LWU0MzhlNmYxMWI0MFwvZGZnZG4xMy00NTE5NGEzOC03ZmRlLTRjOGUtYmQ3YS04NGY4Y2QzYjAxODUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.xearMxhtLx_VS16s4qKhGRvcNUj8sy66xGseMa88Ge8);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center right 140px;

  animation: tirarFuego 3s linear infinite;
  z-index: -1;
}
#bolet{  
  height: 110px;
  width: 120px;
  position: fixed;
  bottom: 42px;
  right: 10%;
  background-image: url(https://i.gifer.com/origin/ae/aefaf47caa61782884b98d4b0a6f9304_w200.gif);
  background-size: cover; 
  background-position: right;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);  
}

#star{
  position: absolute;
  top: 50px;
  left: 100px;
  width: 100px;
  height: 100px;
  background-image: url(https://www.gifss.com/armas/bombas/images/bom.gif);
  z-index: -5;
  background-size: cover;
  background-repeat: no-repeat;
  animation: starAnim 3s linear infinite;

}
@keyframes kirbyAnim {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(1300px);
  }
}


@keyframes starAnim {
  0% {
    transform: translatex(0px) translatey(0px)
  }
  100% {
      transform: translatex(600px) translatey(600px);
  }
}

@keyframes tirarFuego {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-1300px);
  }
}

@keyframes slideNubes {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 0;
    }
}

@keyframes slideSuelo {
    from {
        background-position: 0 0;
      }
      to {
        background-position: -10000px 0;
      }
}

input[type="checkbox"] {
    content: url('imgs/mario_yoshi.png');
    appearance: none;
    width: 150px;
    position: fixed;
    bottom: 30px;
    margin-left: 20px;
}

input[type="checkbox"]:checked {
    content: url('imgs/mario_yoshi_80px.png');
}


